@import url("https://fonts.googleapis.com/css?family=Roboto");

.hero-container {
  background: rgb(255, 248, 205) center center/cover no-repeat;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(240, 216, 161, 0.724);
  object-fit: contain;
}

.hero-container > h1 {
  font: normal 80pt Sansita Swashed;
  color: rgb(77, 29, 29);
  margin: 20px;
  text-shadow: rgba(0, 0, 0, 0.234) 2px 2px 2px;
}

.hero-container > h2 {
  font: normal 25pt Roboto;
  color: rgb(77, 29, 29);
  margin-top: 8px;
  text-shadow: rgba(0, 0, 0, 0.234) 2px 2px 2px;
}

.hero-container > p {
  font: normal 15pt Roboto;
  text-align: justify;
  margin: 25px;
  color: rgb(44, 24, 24);
  text-justify: inter-cluster;
}

.hero-container > p {
  font-size: 25px;
}

.Imagens {
  width: 70%;
  display: table-row;
  position: relative;
}

.fundo {
  background: rgb(255, 248, 205) center center/cover no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(240, 216, 161, 0.724);
  display: flex;
  justify-content: center;
}
.descricao {
  background: rgba(172, 72, 33, 0.607) center center/cover no-repeat;
  text-align: center;
  font: normal 25pt Sansita Swashed;
  color: rgb(43, 12, 12);
  text-shadow: rgba(0, 0, 0, 0.2) 2px 2px 2px;
  width: 100%;
  flex-grow: 1;
}

.localizacao {
  background: rgba(172, 72, 33, 0.607) center center/cover no-repeat;
  text-align: center;
  font: normal 30pt Sansita Swashed;
  color: rgb(43, 12, 12);
  text-shadow: rgba(0, 0, 0, 0.2) 2px 2px 2px;
  width: 100%;
  flex-grow: 1;
}
.Logo {
  float: right;
  width: 400px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.538);
  margin: 30px;
}
