.hero-container {
  background: rgb(255, 248, 205) center center/cover no-repeat;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(240, 216, 161, 0.724);
  object-fit: contain;
}

.hero-container > h1 {
  font: normal 40pt Sansita Swashed;
  color: rgb(77, 29, 29);
  margin-top: top;
  text-shadow: rgba(0, 0, 0, 0.234) 2px 2px 2px;
}

.hero-container > p {
  font-family: "Roboto", "Sansita Swashed", "Ubuntu", sans-serif;
  text-align: center;
  margin-top: 8px;
  color: rgb(44, 24, 24);
  font-size: 32px;
}

.hero-container > p {
  font-size: 30px;
}

.Imagens {
  height: 50%;
  width: 90%;
  display: flex;
  position: relative;
}

.fundo {
  background: rgb(255, 248, 205) center center/cover no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(240, 216, 161, 0.724);
  display: flex;
  justify-content: center;
}
.descricao {
  background: rgba(172, 72, 33, 0.607) center center/cover no-repeat;
  text-align: center;
  font: normal 25pt Sansita Swashed;
  color: rgb(43, 12, 12);
  text-shadow: rgba(0, 0, 0, 0.2) 2px 2px 2px;
  width: 100%;
  flex-grow: 1;
}

.localizacao {
  background: rgba(172, 72, 33, 0.607) center center/cover no-repeat;
  text-align: center;
  font: normal 30pt Sansita Swashed;
  color: rgb(43, 12, 12);
  text-shadow: rgba(0, 0, 0, 0.2) 2px 2px 2px;
  width: 100%;
  flex-grow: 1;
}
