* {
  box-sizing: unset;
}
html,
body {
  height: auto;
  width: auto;
}
div#root {
  height: auto;
  width: auto;
}

.base-fotos {
  background: #a4543e;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.grid-fotos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 1%;
}
.grid-fotos > h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font: normal 40pt Sansita Swashed;
  text-align: center;
  font-size: 4vw;
  color: #ffffff;
  text-shadow: rgba(0, 0, 0, 0.607) 2px 2px 2px;
  margin: 2%;
}
