* {
  box-sizing: unset;
}

html,
body {
  height: auto;
  width: auto;
}
div#root {
  height: auto;
  width: auto;
}

.base-fotos {
  background: rgb(255, 248, 205) center center/cover no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(240, 216, 161, 0.724);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
}

.grade-fotos {
  width: 70%;
  height: 100%;
  background-color: #6e3b3b !important;
  margin: 2%;
}
