.quarto-casal {
  background: rgba(172, 72, 33, 0.607) center center/cover no-repeat;
  text-align: center;
  font: normal 25pt Sansita Swashed;
  color: rgb(43, 12, 12);
  text-shadow: rgba(0, 0, 0, 0.2) 2px 2px 2px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  object-fit: contain;
  justify-content: center;
  align-items: center;
}
.quarto-solteiro {
  background: rgba(172, 72, 33, 0.607) center center/cover no-repeat;
  text-align: center;
  font: normal 25pt Sansita Swashed;
  color: rgb(43, 12, 12);
  text-shadow: rgba(0, 0, 0, 0.2) 2px 2px 2px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  object-fit: contain;
  justify-content: center;
  align-items: center;
}
.quarto-familia {
  background: rgba(172, 72, 33, 0.607) center center/cover no-repeat;
  text-align: center;
  font: normal 25pt Sansita Swashed;
  color: rgb(43, 12, 12);
  text-shadow: rgba(0, 0, 0, 0.2) 2px 2px 2px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  object-fit: contain;
  justify-content: center;
  align-items: center;
}
.quarto-casal > h1 {
  font: normal 40pt Sansita Swashed;
  color: rgb(77, 29, 29);
  margin-top: top;
  text-shadow: rgba(0, 0, 0, 0.234) 2px 2px 2px;
}
.quarto-solteiro > h1 {
  font: normal 40pt Sansita Swashed;
  color: rgb(77, 29, 29);
  margin-top: top;
  text-shadow: rgba(0, 0, 0, 0.234) 2px 2px 2px;
}
.quarto-familia > h1 {
  font: normal 40pt Sansita Swashed;
  color: rgb(77, 29, 29);
  margin-top: top;
  text-shadow: rgba(0, 0, 0, 0.234) 2px 2px 2px;
}
.quarto-casal > p {
  font-family: 'Roboto', 'Sansita Swashed', 'Ubuntu', sans-serif;
  text-align: center;
  margin-top: 8px;
  color: rgb(44, 24, 24);
  font-size: 35px;
}
.quarto-solteiro > p {
  font-family: 'Roboto', 'Sansita Swashed', 'Ubuntu', sans-serif;
  text-align: center;
  margin-top: 8px;
  color: rgb(44, 24, 24);
  font-size: 32px;
}
.quarto-familia > p {
  font-family: 'Roboto', 'Sansita Swashed', 'Ubuntu', sans-serif;
  text-align: center;
  margin-top: 8px;
  color: rgb(44, 24, 24);
  font-size: 32px;
}

.quarto-casal > p {
  font-size: 30px;
}
.quarto-solteiro > p {
  font-size: 30px;
}
.quarto-familia > p {
  font-size: 30px;
}

.Imagens-quartos {
  max-width: 50%;
  display: table-row;
  position: relative;
  margin: 0%;
  padding-left: 2%;
  padding-top: 3%;
}

.fundo-quartos {
  display: flex;
  background: rgb(255, 248, 205) center center/cover no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(240, 216, 161, 0.724);
}
.descricao-quartos {
  display: flex;
  align-items: center;
  max-width: 50vw;
  max-height: 50vh;
  flex-wrap: wrap;
  font: normal 25pt Roboto;
  margin: 0%;
  padding-left: 2%;
  padding-right: 2%;
}
.descricao-quartos > p {
  padding-top: 1.5%;
  text-align: center;
  font: normal 20pt Roboto;
  max-width: 100%;
  text-align: justify;
  text-justify: inter-cluster;
}

.descricao-quartos > h2 {
  font: normal 20pt Roboto;
  text-align: center;
  display: flex;
  padding-left: 12vw;
  font-weight: bold;
}

.@media only screen and (max-width: 600px) {
  p {
    font-size: 12px;
  }
}
.btn-quarto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin: 2%;
}

.btn-quarto:hover {
  color: #e47a7a;
}
