.base {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
.container > h1 {
  font: normal 40pt Sansita Swashed;
  color: rgb(77, 29, 29);
  margin-top: top;
  text-shadow: rgba(0, 0, 0, 0.234) 2px 2px 2px;
  display: flex;
  justify-content: center;
}
.imputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 350px;
  margin-left: 300px;
  margin-right: 300px;
}
