* {
  box-sizing: unset;
}
html,
body {
  height: auto;
  width: auto;
}
div#root {
  height: auto;
  width: auto;
}

.base-login {
  background: rgb(255, 248, 205) center center/cover no-repeat;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.forms-login {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.538);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  background: #6e3b3b;
  border-radius: 6%;
  padding: 1%;
  width: 35%;
  height: 70vh;
  max-height: 500px;
}
.forms-login > h1 {
  display: flex;
  justify-content: center;
  font: normal 40pt Sansita Swashed;
  text-align: center;
  font-size: 4vw;
  color: #ffffff;
  height: 15%;
  text-shadow: rgba(0, 0, 0, 0.589) 2px 2px 2px;
}
.linha {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  width: 100%;
  height: 10%;
  margin: 2%;
}
.email,
.senha {
  display: flex;
  flex-wrap: wrap;
  max-width: 90%;
  flex-grow: 1;
  margin: 2%;
}

.link-cadastro {
  font: normal 10pt Sansita Swashed;
  font-size: 1.2vw;
  color: #ffffff;
  margin-top: top;
  text-shadow: rgba(0, 0, 0, 0.593) 2px 2px 2px;
  padding: 0%;
}
.link-cadastro:hover {
  color: #e47a7a;
}

.btn-login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin: 2%;
}

@media screen and (max-width: 700px) {
  .base-login {
    height: 90vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }

  .forms-login {
    height: 100vh;
    width: 100vw;
    border-radius: 0%;
    box-shadow: none;
  }
  .forms-login > h1 {
    font-size: 8vw;
    max-height: 20vh;
    flex-grow: 2;
  }
  .linha {
    height: 12%;
    margin: 2%;
  }
  .email,
  .senha {
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;
    flex-grow: 1;
    margin: 2%;
  }

  .link-cadastro {
    font-size: 3vw;
  }
}
