* {
  box-sizing: unset;
}
html,
body {
  height: auto;
  width: auto;
}
div#root {
  height: auto;
  width: auto;
}
.BasePerfil {
  display: flex;
  min-height: Calc(100vh - 130px - 70px);
  background: rgb(255, 248, 205) center center/cover no-repeat;
  position: relative;
}
.Grade {
  grid-template-columns: 345px 345px;
  grid-gap: 16px;
  display: inline-grid;
  padding: 48px;
}
