.hero-container {
  background: rgb(255, 248, 205) center center/cover no-repeat;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(243, 207, 122, 0.724);
  object-fit: contain;
}

.hero-container > h1 {
  font: normal 40pt Sansita Swashed;
  color: rgb(44, 24, 24);
  margin-top: top;
}

.hero-container > p {
  font-family: "Sansita Swashed", "Roboto", "Ubuntu", sans-serif;
  margin-top: 8px;
  color: rgb(44, 24, 24);
  font-size: 32px;
}

.hero-container > p {
  font-size: 30px;
}

.Imagens {
  height: 50%;
  width: 90%;
  display: flex;
  position: relative;
}

.fundo {
  background-color: rgb(27, 5, 5);
  display: flex;
  justify-content: center;
}
