body {
  background-color: rgb(255, 248, 205);
}

.testinho {
  display: flex;
  justify-content: center;
  font: normal 40pt Sansita Swashed;
  text-align: center;
  font-size: 3vw;
  color: #ffffff;
  text-shadow: rgba(0, 0, 0, 0.589) 2px 2px 2px;

}
.thumb {
    background-color: #6e3b3b;
    display: flex;
    
  }
  
.coluna1 {
    flex: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  margin-top: 20px;
  }
  .coluna2 {
    flex: 50%;
    display: flex;
    flex-direction: column;
    
    align-items: center;
 margin-top: 20px;
  }

.imagem1 {
  position: relative;
  width: 50%;

  border-radius: 5%;
  margin-bottom: ;
}
.imagem2 {
  position: relative;
  width: 50%;

  border-radius: 5%;
}
.imagem3 {
  position: relative;

  width: 50%;

  border-radius: 5%;
}
.imagem4 {
  position: relative;

  width: 50%;

  border-radius: 5%;
}
.imagem5 {
  position: relative;

  width: 55%;

  border-radius: 5%;
}
.imagem6 {
  position: relative;

  width: 50%;

  border-radius: 5%;
}
.bungjump {
  width: 50%;
  font: normal 40pt Sansita Swashed;
  font-size: 1vw;
  position: relative;

  color: #ffffff;
border-radius: 2%;
  padding: 5px;
  border: 5px double #ffffff;
}


.container-atracoes {
  display: flex;
  flex-direction: column;
}
.cardatracao{
margin: 20px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
    
}