.base-atracoes {
  background: rgb(255, 248, 205) center center/cover no-repeat;
  height: 230vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards-atracoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #6e3b3b;
  border-radius: 0%;
  padding: 1%;
  flex-grow: 1;
  max-width: 80%;
  position: relative;
  right: 20vh;
}
.base-atracoes > h1 {
  display: flex;
  justify-content: center;
  font: normal 40pt Sansita Swashed;
  text-align: center;
  font-size: 4vw;
  color: rgb(77, 29, 29);
  height: 15%;
  text-shadow: rgba(0, 0, 0, 0.589) 2px 2px 2px;
  position: relative;
  top: -90vh;
  left: 80vh;
}

.cards-linha {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 100%;
  margin: 1%;
}

@media screen and (max-width: 960px) {
  .cards-atracoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #6e3b3b;
    border-radius: 0%;
    padding: 1%;
    width: 100vw;
    height: 90%;
  }
  .cards-atracoes > h1 {
    font-size: 8vw;
    height: 7%;
  }

  .cards-linha {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 2%;
    height: 50vh;
    width: 150vw;
  }
  .MuiPaper-rootMuiCard-rootmakeStyles-root-1MuiPaper-elevation1MuiPaper-rounded {
    height: 100%;
  }
}
