.rodape {
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  max-height: 5%;
  flex-grow: 1;
}
.Logo {
  float: left;
  width: 10%;
  max-height: 5%;
  box-shadow: 3px 3px 3px rgba(41, 36, 36, 0.538);
  margin: 30px;
}
.contatos,
.redes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.contatos > h3,
.redes > h3 {
  font: normal 40pt Sansita Swashed;
  text-align: left;
  font-size: 2vw;
  color: #ffffff;
}
