.rodape {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  max-height: 20%;
  background-color: rgb(77, 29, 29);
}
.Logo-footer {
  float: left;
  width: 8%;
  margin: 0%;
}
.contatos,
.redes {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-height: 100%;
}
.contatos > h3,
.redes > h3,
.icon > h3 {
  font: normal 40pt Roboto;
  text-align: left;
  font-size: 1.5vw;
  color: #ffffff;
}

.icon {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-height: 20%;
}

@media screen and (max-width: 960px) {
  .rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    max-height: 20%;
    background-color: rgb(77, 29, 29);
  }
  .Logo-footer {
    float: left;
    width: 20%;
    margin: 4%;
  }
  .contatos,
  .redes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-height: 100%;
  }
  .contatos > h3,
  .redes > h3,
  .icon > h3 {
    font-size: 4vw;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-height: 20%;
  }
}
