.rodape {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  max-height: 20%;
}
.Logo-footer {
  float: left;
  width: 8%;
  margin: 0%;
}
.contatos,
.redes {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-height: 100%;
}
.contatos > h3,
.redes > h3 {
  font: normal 40pt Roboto;
  text-align: left;
  font-size: 1.5vw;
  color: #ffffff;
}
