* {
  box-sizing: unset;
}

html,
body {
  height: auto;
  width: auto;
}
div#root {
  height: auto;
  width: auto;
}

.base-cadastro {
  display: flex;
  background: rgb(255, 248, 205) center center/cover no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(240, 216, 161, 0.724);
  height: 42.2vw;

  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.forms-cadastro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  background: #6e3b3b;
  border-radius: 6%;
  padding: 1%;
  width: 40%;
  height: 85%;
}
.forms-cadastro > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font: normal 35pt Sansita Swashed;
  font-size: 4vw;
  color: #ffffff;
  text-shadow: rgba(0, 0, 0, 0.589) 2px 2px 2px;
  margin: 2%;
}
.linhas-comp {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  width: 100%;
  height: 10%;
  margin: 1%;
}
.linha-unica {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  width: 100%;
  height: 10%;
  margin: 1%;
}
.btn-registrar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20%;
  margin: 1%;
}
